*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1
{
    font-family: 'Yusei Magic', sans-serif;
    color: #338DFF;
    text-align: center;
}

/* Applies image to the background - sizes image accordingly */
body
{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: black;
    background-image: url(../ASSETS/dxskybox.png); /* replace this later, dummy */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Applies animation to the text in our header. */
.animate__animated .animate__jackInTheBox
{
    animation-delay: 3s;
    animation-duration: 5s;
}

/* Define the Size of Box with Height and Width */
/* Gave Box a background Image and centered content within the Box, filled image to box */
.box
{
    border: 2px solid firebrick;
    height: 141px;
    width: 141px;
    opacity: 3;
    border-radius: 50%;
    background-image: url("../ASSETS/original.png");
    background-position: center center;
    background-size: cover;
    background-color: mediumslateblue;
    /* Provide a name for animation, delay start of animation, specify duration of the animation, and how many times it repeats */
    animation-name: stupidity;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    /* Makes smood */
    transition: 0.2s ease;
}

/* Applies to our main Div */
.centered
{
    /*position: absolute;*/
    width: 100%;
    text-align: center;
}

/* For a Text Box, should be centered underneath the text. */
/* Will implement features to interact later. */
.textbox
{
    /*border: 2px solid lightseagreen;*/
    background-image: url(../ASSETS/earthtext.gif);
    background-size: cover;
    top: -10%;
    height: 219px;
    width: 519px;
    background-position: center center;
}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -5vh;
    height: 100%;
    width: 100%;
    position: relative;
}

@keyframes stupidity
{
    0%
    {   /* Start - Format is X , Y */
        transform: translate(0, 0) rotate(0deg);
        background-color: steelblue;
    }

    25%
    { /* Moves to Top Right Corner */
        transform: translate(93vw, 0) rotate(100deg);
        background-color: mediumspringgreen;
    }

    50%
    {   /* Moves to Bottom Right Corner */
        transform: translate(93vw, 93vh) rotate(175deg);
        background-color: #F1C40F;
    }

    75%
    {   /* Moves to Bottom Left Corner */
        transform: translate(0, 93vh) rotate(200deg);
        background-color: indianred;
    }

    100%
    {   /* Back to Start */
        transform: translate(0, 0) rotate(0deg);
        background-color: mediumslateblue;
    }
}

