
p
{
    font-family: 'IBM Plex Serif', serif;
}

.body
{
    height: 75vh;
    border: 2px solid purple;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


    .parent 
    {
    display: flex;
    height: 300px; /* Or whatever */
    }

    .child 
    {
    width: 100px;  /* Or whatever */
    height: 100px; /* Or whatever */
    margin: auto;  /* Magic! */
    }

