/*
Imports our font to be used later.
 */
@import url('https://fonts.googleapis.com/css?family=Lato');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background-image: linear-gradient(135deg, #005c97 0%, #363795 100%);

    /* Starts Flexibility. */
    display: flex;
    /* Cross Axis - Y */
    align-items: center;
    /* Main Axis - X */
    justify-content: center;
    /* Determines Axis Position */
    flex-direction: column;

    min-height: 100vh;
}

.main
{
    text-align: center;
    width: 90%;
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
}

.main h1
{
    font-family: 'EB Garamond', serif;
    background: -webkit-linear-gradient(#F1C40F , #BB9302  );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.main p
{
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    color: #b0b0b0;
}

.btn
{
    display: inline-block;
    background-image: linear-gradient(135deg, #a73737 0%, #7a2828 100%);
    color: #b0b0b0;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 25px 55px;
    margin-top: 15px;
    cursor: pointer;
}

.btn.hover
{
    opacity: 0.9;
}

.btn:active
{
    background: #C8703D;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}